:root {
    --alizarin-crimson-rgb: 223, 31, 45;
    --carnelian-rgb: 177, 19, 19;
    --cosmic-cobalt: #2b3784;
    --cosmic-cobalt-rgb: 43, 55, 132;
    --cyan-blue-azure: #447bbe;
    --cyan-blue-azure-rgb: 68, 123, 190;
    --ash-grey: #e2e2e2;
    --ash-grey-rgb: 226, 226, 226;
    --maroon-color: rgb(55, 7, 7);
  }
  
  * {
    box-sizing: border-box;
  }
  
  html {
    font-size: 10px;
  }
  
  body {
    margin: 0;
    line-height: 2;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Source Sans Pro", sans-serif;
    background-color: var(--maroon-color);
  }
  
  /* start of header styles */
  
  .header {
    background-color: var(--maroon-color);
  }
  
  .nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: right ;
    padding: 1rem 2rem;
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
    padding-bottom: 0.5rem;
    text-align: right;
  }
  
  .nav-link:hover {
    border-bottom: 0.2rem solid white;
    font-size: 2.7rem;
  }
  
  /* end of header styles */
  
  
  
  .main {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20rem;
    /* position: relative; */
  }
  
  .timer  {
    color: white;
    font-family: "Source Sans Pro", sans-serif;
  }
  
  /* content section styles */
  
  .content-section {
    letter-spacing: 0.6rem;
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    box-shadow: 0rem 0rem 0.7rem 0.7rem rgba(var(--ash-grey-rgb), 0.3);
    /* position: relative; */
  }
  
  .content-section-title {
    font-size: 4rem;
  }
  
  .content-section-info {
    font-size: 2rem;
  }
  
  /* end of content section styles */
  
  /* start of button styles */
  
  .btn-control {
    padding: 2rem 1rem;
    text-align: center;
  }
  
  .btn {
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    border-radius: 0.4rem;
    min-width: 20rem;
    text-transform: uppercase;
    background-color: var(--ash-grey);
    color: black;
  }
  
  .btn:hover {
    cursor: pointer;
    background-color: white;
    color: var(--maroon-color);
    box-shadow: 0.5rem 0.5rem 0.7rem rgba(var(--ash-grey-rgb), 0.3);
  }
  
  /* end of button styles */
  
  /* start of question styles */
  
  
  .question-container .content-section-title {
    background-color: var(--maroon-color);
  }
  
  .feedback-list {
    list-style: none;
    text-align: left;
    margin: 3rem 2rem;
    padding: 2rem;
    border-radius: 0.4rem;
    background-color: var(--maroon-color);
  }
  
  .list-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0;
    font-size: 1.8rem;
  }
  
  .list-item:hover {
    background-color: white;
    border-radius: 50%;
    color: var(--maroon-color);
    cursor: pointer;
  }
  
  /* end of question styles */
  
  /* start of form section styles */
  
  .feedback-form-section {
    background-color: var(--ash-grey);
    margin: 2rem 0;
  }
  
  .title {
    text-align: center;
    color: var(--maroon-color);
    text-transform: uppercase;
    letter-spacing: 0.4rem;
  }
  
  /* feedback form styles */
  
  .form-control {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  .form-input {
    padding: 1rem 2rem;
    width: 100%;
    border: 5px solid var(--maroon-color);
    border-radius: 0.4rem;
  }
  
  .form-input::placeholder {
    font-size: 1.6rem;
    letter-spacing: 0.4rem;
  }
  
  /* end of form section styles */
  
  /* start of result styles */
  
  .fullnamediv {
    font-size: 3rem;
    background-color: white;
    color: var(--maroon-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
  }
  
  
  .scoreNumber {
    font-size: 3rem;
    background-color: white;
    color: var(--maroon-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
  }
  
  /* end of result styles */
  
  @media screen and (max-width: 768px) {
    .main {
      margin: 0 1rem;
    }
    .content-section {
      margin: 2rem 0.75rem;
    }
  }